<%= form_for(tour_to_position) do |f| %>
  <% if tour_to_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_to_position.errors.count, "error") %> prohibited this tour_to_position from being saved:</h2>

      <ul>
      <% tour_to_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startDate %>
    <%= f.datetime_select :startDate %>
  </div>

  <div class="field">
    <%= f.label :endDate %>
    <%= f.datetime_select :endDate %>
  </div>

  <div class="field">
    <%= f.label :createdFrom %>
    <%= f.text_field :createdFrom %>
  </div>

  <div class="field">
    <%= f.label :changedFrom %>
    <%= f.text_field :changedFrom %>
  </div>

  <div class="field">
    <%= f.label :syncedFrom %>
    <%= f.number_field :syncedFrom %>
  </div>

  <div class="field">
    <%= f.label :deleteFlag %>
    <%= f.check_box :deleteFlag %>
  </div>

  <div class="field">
    <%= f.label :tour_id %>
    <%= f.text_field :tour_id %>
  </div>

  <div class="field">
    <%= f.label :TourPosition_id %>
    <%= f.text_field :TourPosition_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
