<h1>Dashboard</h1>



<div class="row">

  <div class="col-xs-8">

    <!-- Einnahmen Infos  -->
    <div class="row">
      <div class="col-xs-12">
        <h2>Umsatz</h2>
      </div>
      <div class="col-xs-12">
        <%= line_chart @sales_chart %>
      </div>
    </div>





    <!--
    <div class="row">
      <div class="col-xs-12">
        <h2>Gef&uuml;hrte Touren pro Guide</h2>
      </div>

      <div class="col-xs-12">
        <= line_chart @multipleSeries %>
      </div>
    </div>
-->
  </div>

  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-12">
        <h3>Die Beliebtesten Touren</h3>
      </div>
      <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Tour</th>
            <th>Buchungen</th>
            <th>Aktion</th>
          </tr>
          </thead>
          <tbody>
          <% @mostBookedTours.each do |tour, customers| %>
              <tr>
                <td><%= tour.name %></td>
                <td><%= customers %></td>

                <td><%= link_to 'Anzeigen', tour %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- tour Guide Infos -->
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <h2>Gef&uuml;hrte Touren pro Guide</h2>
        </div>
        <div class="row">
          <%= column_chart @tourGuideData %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="row">
          <h2>Umsatz pro Tour </h2>
        </div>
        <div class="row">
          <%= column_chart @tourGuideData %>
        </div>
      </div>
    </div>
  </div>
</div>