<p id="notice"><%= notice %></p>

<h1>Ressource Typs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Createdfrom</th>
      <th>Changedfrom</th>
      <th>Syncedfrom</th>
      <th>Deleteflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ressource_typs.each do |ressource_typ| %>
      <tr>
        <td><%= ressource_typ.name %></td>
        <td><%= ressource_typ.createdFrom %></td>
        <td><%= ressource_typ.changedFrom %></td>
        <td><%= ressource_typ.syncedFrom %></td>
        <td><%= ressource_typ.deleteFlag %></td>
        <td><%= link_to 'Show', ressource_typ %></td>
        <td><%= link_to 'Edit', edit_ressource_typ_path(ressource_typ) %></td>
        <td><%= link_to 'Destroy', ressource_typ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ressource Typ', new_ressource_typ_path %>
