<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ressource_typ.name %>
</p>

<p>
  <strong>Createdfrom:</strong>
  <%= @ressource_typ.createdFrom %>
</p>

<p>
  <strong>Changedfrom:</strong>
  <%= @ressource_typ.changedFrom %>
</p>

<p>
  <strong>Syncedfrom:</strong>
  <%= @ressource_typ.syncedFrom %>
</p>

<p>
  <strong>Deleteflag:</strong>
  <%= @ressource_typ.deleteFlag %>
</p>

<%= link_to 'Edit', edit_ressource_typ_path(@ressource_typ) %> |
<%= link_to 'Back', ressource_typs_path %>
