<p id="notice"><%= notice %></p>

<h1>Customer In Tours</h1>

<table>
  <thead>
    <tr>
      <th>Bookeddate</th>
      <th>Participated</th>
      <th>Starrating</th>
      <th>Feedbacktourguid</th>
      <th>Createdfrom</th>
      <th>Changedfrom</th>
      <th>Syncedfrom</th>
      <th>Deleteflag</th>
      <th>Customer</th>
      <th>Tour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_in_tours.each do |customer_in_tour| %>
      <tr>
        <td><%= customer_in_tour.bookedDate %></td>
        <td><%= customer_in_tour.participated %></td>
        <td><%= customer_in_tour.starRating %></td>
        <td><%= customer_in_tour.feedbackTourGuid %></td>
        <td><%= customer_in_tour.createdFrom %></td>
        <td><%= customer_in_tour.changedFrom %></td>
        <td><%= customer_in_tour.syncedFrom %></td>
        <td><%= customer_in_tour.deleteFlag %></td>
        <td><%= customer_in_tour.customer %></td>
        <td><%= customer_in_tour.tour %></td>
        <td><%= link_to 'Show', customer_in_tour %></td>
        <td><%= link_to 'Edit', edit_customer_in_tour_path(customer_in_tour) %></td>
        <td><%= link_to 'Destroy', customer_in_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer In Tour', new_customer_in_tour_path %>
