<p id="notice"><%= notice %></p>

<p>
  <strong>Joomlaid:</strong>
  <%= @status.joomlaID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Createdfrom:</strong>
  <%= @status.createdFrom %>
</p>

<p>
  <strong>Changedfrom:</strong>
  <%= @status.changedFrom %>
</p>

<p>
  <strong>Syncedfrom:</strong>
  <%= @status.syncedFrom %>
</p>

<p>
  <strong>Deleteflag:</strong>
  <%= @status.deleteFlag %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
