<p id="notice"><%= notice %></p>

<h1>Tour To Tour Positions</h1>

<table>
  <thead>
    <tr>
      <th>Joomlaid</th>
      <th>Tourposition</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Price</th>
      <th>Createdfrom</th>
      <th>Changedfrom</th>
      <th>Syncedfrom</th>
      <th>Deleteflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_to_tour_positions.each do |tour_to_tour_position| %>
      <tr>
        <td><%= tour_to_tour_position.joomlaID %></td>
        <td><%= tour_to_tour_position.tourPosition_id %></td>
        <td><%= tour_to_tour_position.startDate %></td>
        <td><%= tour_to_tour_position.endDate %></td>
        <td><%= tour_to_tour_position.price %></td>
        <td><%= tour_to_tour_position.createdFrom %></td>
        <td><%= tour_to_tour_position.changedFrom %></td>
        <td><%= tour_to_tour_position.syncedFrom %></td>
        <td><%= tour_to_tour_position.deleteFlag %></td>
        <td><%= link_to 'Show', tour_to_tour_position %></td>
        <td><%= link_to 'Edit', edit_tour_to_tour_position_path(tour_to_tour_position) %></td>
        <td><%= link_to 'Destroy', tour_to_tour_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour To Tour Position', new_tour_to_tour_position_path %>
