<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :passwort %>
    <%= f.text_field :passwort %>
  </div>

  <div class="field">
    <%= f.label :createdFrom %>
    <%= f.text_field :createdFrom %>
  </div>

  <div class="field">
    <%= f.label :changedFrom %>
    <%= f.text_field :changedFrom %>
  </div>

  <div class="field">
    <%= f.label :syncedFrom %>
    <%= f.number_field :syncedFrom %>
  </div>

  <div class="field">
    <%= f.label :deleteFlag %>
    <%= f.check_box :deleteFlag %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
