<p id="notice"><%= notice %></p>

<p>
  <strong>Joomlaid:</strong>
  <%= @customer.joomlaID %>
</p>

<p>
  <strong>Note:</strong>
  <%= @customer.note %>
</p>

<p>
  <strong>Createdfrom:</strong>
  <%= @customer.createdFrom %>
</p>

<p>
  <strong>Changedfrom:</strong>
  <%= @customer.changedFrom %>
</p>

<p>
  <strong>Syncedfrom:</strong>
  <%= @customer.syncedFrom %>
</p>

<p>
  <strong>Deleteflag:</strong>
  <%= @customer.deleteFlag %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
