<%= form_for(tour) do |f| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :joomlaID %>
    <%= f.number_field :joomlaID %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :maxAttendees %>
    <%= f.number_field :maxAttendees %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :startDate %>
    <%= f.datetime_select :startDate %>
  </div>

  <div class="field">
    <%= f.label :endDate %>
    <%= f.datetime_select :endDate %>
  </div>

  <div class="field">
    <%= f.label :createdFrom %>
    <%= f.text_field :createdFrom %>
  </div>

  <div class="field">
    <%= f.label :changedFrom %>
    <%= f.text_field :changedFrom %>
  </div>

  <div class="field">
    <%= f.label :syncedFrom %>
    <%= f.number_field :syncedFrom %>
  </div>

  <div class="field">
    <%= f.label :deleteFlag %>
    <%= f.check_box :deleteFlag %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.text_field :status_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
