<p id="notice"><%= notice %></p>

<h1>Tours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Maxattendees</th>
      <th>Price</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Createdfrom</th>
      <th>Changedfrom</th>
      <th>Syncedfrom</th>
      <th>Deleteflag</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.maxAttendees %></td>
        <td><%= tour.price %></td>
        <td><%= tour.startDate %></td>
        <td><%= tour.endDate %></td>
        <td><%= tour.createdFrom %></td>
        <td><%= tour.changedFrom %></td>
        <td><%= tour.syncedFrom %></td>
        <td><%= tour.deleteFlag %></td>
        <td><%= tour.status %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
