<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Maxattendees:</strong>
  <%= @tour.maxAttendees %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @tour.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @tour.endDate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tour.status.name %>
</p>

<p>
  <strong>Tourguide:</strong>
  <%= @tour.Tourguide.user.firstname %>  <%= @tour.Tourguide.user.lastname%>
  <td><%= link_to 'Show', @tour.Tourguide %></td>
</p>

<h1>Customers</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', reports_path %>
