<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Name:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6"><%= @tour.name %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Max. Teilnehmer:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= @tour.maxAttendees %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Preis:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        € <%= @tour.price %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Beginn:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= @tour.startDate ? @tour.startDate.strftime("%d/%m/%Y %H:%M") : '-' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Ende:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= @tour.endDate ? @tour.endDate.strftime("%d/%m/%Y %H:%M") : '-' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Status:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= @tour.status.name %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Tourguide:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= @tour.Tourguide.user.lastname %>
        <%= link_to 'Anzeigen', @tour.Tourguide %>
      </div>
    </div>
  </div>
</div>


<h1>Teilnehmer</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Geburtsdatum</th>
    <th>Teilgenommen</th>
    <th>Bewertung</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= user.lastname %></td>
        <td><%= user.birthdate.strftime("%d/%m/%Y") %></td>
        <td><%= @customers_in_tours[index].participated ? 'Ja' : 'Nein' %></td>
        <td>
          <% for i in 1..@customers_in_tours[index].starRating  do %>
              <img height="15" src="/assets/star.ico" />
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


