<p id="notice"><%= notice %></p>

<p>
  <strong>Createdfrom:</strong>
  <%= @ressource_for_tour.createdFrom %>
</p>

<p>
  <strong>Changedfrom:</strong>
  <%= @ressource_for_tour.changedFrom %>
</p>

<p>
  <strong>Syncedfrom:</strong>
  <%= @ressource_for_tour.syncedFrom %>
</p>

<%= link_to 'Edit', edit_ressource_for_tour_path(@ressource_for_tour) %> |
<%= link_to 'Back', ressource_for_tours_path %>
