<p id="notice"><%= notice %></p>

<h1>Tours</h1>

<table>
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Maxteilnehmer</th>
      <th>Preis</th>
      <th>Tourstartdatum</th>
      <th>Tourendedatum</th>
      <th>Eintragerstelltvon</th>
      <th>Eintraggeaendertvon</th>
      <th>Syncedfrom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.Bezeichnung %></td>
        <td><%= tour.MaxTeilnehmer %></td>
        <td><%= tour.Preis %></td>
        <td><%= tour.TourStartDatum %></td>
        <td><%= tour.TourEndeDatum %></td>
        <td><%= tour.EintragErstelltVon %></td>
        <td><%= tour.EintragGeaendertVon %></td>
        <td><%= tour.SyncedFrom %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
