<p id="notice"><%= notice %></p>

<h1>Tour Guides</h1>

<table>
  <thead>
    <tr>
      <th>Tourguidesince</th>
      <th>Createdfrom</th>
      <th>Changedfrom</th>
      <th>Syncedfrom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_guides.each do |tour_guide| %>
      <tr>
        <td><%= tour_guide.tourGuideSince %></td>
        <td><%= tour_guide.createdFrom %></td>
        <td><%= tour_guide.changedFrom %></td>
        <td><%= tour_guide.syncedFrom %></td>
        <td><%= link_to 'Show', tour_guide %></td>
        <td><%= link_to 'Edit', edit_tour_guide_path(tour_guide) %></td>
        <td><%= link_to 'Destroy', tour_guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour Guide', new_tour_guide_path %>
