<p id="notice"><%= notice %></p>

<p>
  <strong>Joomlaid:</strong>
  <%= @tour_guide.joomlaID %>
</p>

<p>
  <strong>Tourguidesince:</strong>
  <%= @tour_guide.tourGuideSince %>
</p>

<p>
  <strong>Createdfrom:</strong>
  <%= @tour_guide.createdFrom %>
</p>

<p>
  <strong>Changedfrom:</strong>
  <%= @tour_guide.changedFrom %>
</p>

<p>
  <strong>Syncedfrom:</strong>
  <%= @tour_guide.syncedFrom %>
</p>

<p>
  <strong>Deleteflag:</strong>
  <%= @tour_guide.deleteFlag %>
</p>

<p>
  <strong>User:</strong>
  <%= @tour_guide.user %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @tour_guide.agency %>
</p>

<%= link_to 'Edit', edit_tour_guide_path(@tour_guide) %> |
<%= link_to 'Back', tour_guides_path %>
