<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tourguide.user.lastname %>
</p>

<p>
  <strong>Tourguidesince:</strong>
  <%= @tourguide.tourGuideSince %>
</p>

<h1>Tours</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Maxattendees</th>
    <th>Price</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.maxAttendees %></td>
        <td><%= tour.price %></td>
        <td><%= tour.startDate %></td>
        <td><%= tour.endDate %></td>
        <td><%= tour.status.name %></td>
        <td><%= link_to 'Anzeigen', tour %></td>
      </tr>
  <% end %>
  </tbody>
</table>