<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tourguide.user.lastname %>
</p>

<p>
  <strong>Tourguide seit:</strong>
  <%= @tourguide.tourGuideSince %>
</p>

<h1>Touren</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Max. Teilnehmer</th>
    <th>Preis</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th>Status</th>
    <th>Aktion</th>
  </tr>
  </thead>

  <tbody>
  <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.maxAttendees  %></td>
        <td>€ <%= tour.price %></td>
        <td><%= tour.startDate? ? tour.startDate.strftime("%d/%m/%Y") : '-' %></td>
        <td><%= tour.startDate? ? tour.endDate.strftime("%d/%m/%Y") : '-' %></td>
        <td><%= tour.status.name %></td>
        <td><%= link_to 'Anzeigen', tour %></td>
      </tr>
  <% end %>
  </tbody>
</table>