<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Name:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6"><%= @tourguide.user.lastname %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Geburtsdatum:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6"><%= @tourguide.user.birthdate.strftime("%d/%m/%Y") %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Tourguide seit:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6"><%= @tourguide.tourGuideSince.strftime("%d/%m/%Y") %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Email:</strong>
        </p>
      </div>
      <div class="col-xs-12 col-md-6"><%= @tourguide.user.email %></div>
    </div>
  </div>
</div>

<h1>Touren</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Max. Teilnehmer</th>
    <th>Preis</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th>Status</th>
    <th>Aktion</th>
  </tr>
  </thead>

  <tbody>
  <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.maxAttendees  %></td>
        <td>€ <%= tour.price %></td>
        <td><%= tour.startDate? ? tour.startDate.strftime("%d/%m/%Y") : '-' %></td>
        <td><%= tour.startDate? ? tour.endDate.strftime("%d/%m/%Y") : '-' %></td>
        <td><%= tour.status.name %></td>
        <td><%= link_to 'Anzeigen', tour %></td>
      </tr>
  <% end %>
  </tbody>
</table>